.header{
	background-color: pink;
	font-family: 'Abril Fatface', cursive;
	font-size: 60px;
}

.subheader{
	background-color: red;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
}

.subheader2{
	background-color: #59CAF7;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
}

.subheader3{
	background-color: yellow;
	font-family: 'Overpass Mono', monospace;
	font-size: 20px;
}

#content{
	font-size: 15px;
}